*{
	margin: 0;
	padding: 0
}

#main_container{
	background-color: green;
	text-align: center;
	font-size: 0.28rem;
}

#title_bar_ID{
	background-color: #62cff8;
	height: 0.64rem;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
}
#roll_imgsSection_id{
	margin-top: 0.64rem;
	height: 1.8rem;
	background-color: #ff0;
}

/* 自定义 Tab */
/* 滑动区域 */
.tab_fixedCL{
	position: fixed;
	left: 0;
	right: 0;
	z-index: 1000;
}

#tab_scrollSection_id{
	margin-bottom: 1.1rem;
}

#tab_section_id{
	/*overflow: hidden;*/
	border-bottom: 0.01rem solid #f2f2f2;
	background-color: #fff;
}

#tab_bar_id{
	white-space: nowrap;
	overflow: hidden;
	overflow-x: auto;
	margin-bottom: -0.01rem;

	position: relative;

	/*background-color: transparent;
	position: relative;
	z-index: 9;*/

}

#tab_bar_id::-webkit-scrollbar{
	display: none;
}

#tab_bar_content_id{
	background-color: red;
}

.tab_item_cl{
	display: inline-block;
	width: 25%;
	text-align: center;

}

.tab_item_content{
	color: #666;
	padding: 0.18rem 0;
	display: inline-block;

}

.index_content_cl{
	padding-bottom: .2rem;
	background-color: #f5f5f5;

}
.index_item_content{
	height: 5rem;
	background-color: white;
}
#item_content_id_0{
	color: #62cff8;
	border-bottom: 0.04rem solid #62cff8;
}
#item_flag_id_0{
	background-color: #62cff8;
}

/* 底部按钮区域 */
#fixed_btnSection_id{
	background-color: #fff;
	display: table;
	width: 100%;
	position: fixed;
	left: 0;
	right: 0;
	bottom: 0;
	border-top: 0.01rem solid #f2f2f2;
	z-index: 1001;
}
.div_left{
	display: table-cell;
	width: 50%;
}
.div_right{
	display: table-cell;
	width: 50%;
}
.a_cl{
	display: inline-block;
	text-align: center;
	margin: 3% 6%;
	height: 0.88rem;
	width: 88%;
	line-height: 0.88rem;
	border-radius: 0.1rem;
	color: #fff;
	font-size: 0.32rem;

}
.a_left{
	background-color: #55da00;
}
.a_right{
	background-color: #12beff;
}
